* {
    margin: 0;
    padding: 0;
}

body{
	padding:20px;
	background:#aaa;
}

#main {
	display: grid;
	grid-template-columns: 220px auto;
}

#sidebarHolder {
	grid-column: 1;
}

#content {
	grid-column: 2;
	background: #bbb;
	border-radius: 8px;
	padding:10px;
}


ul#sidebar {
    background: #aaa;
    border: #000 solid 3px;
    border-radius: 8px;
    width: 200px;
}


ul#sidebar > li {
    margin:3px;
    padding: 3px 0;
    text-align: center;
    background: #ddd;
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}

#sidebar > li:hover, #sidebar > li.selected {
	background: #000;
	color: #fff;
}

ul#sidebar > li.header {
    background: #aaa;
    cursor: default;
}

ul#sidebar > li.header:hover {
    background: #aaa;
    color:#000;
}

#content > div {
	display: none;
}

#content > #content_frontpage {
	display:block;
}


form{
    width: auto;
    margin-left: 2%;
    margin-right: auto;
    border: black 1px solid;
    border-radius: 5px;
}
.emp{
    width: 300px;
}
input, select{
    
    margin-top: 1%;
    height: auto;
    width: auto;
    font-size: 20px;
    border-radius: 5px;
}
button{
    display: block!important;
    height: auto;
    width: 100px;
    margin: 0 auto!important;
    font-size: 20px;
    border-radius: 2px;
    background-color: green;
}
button:hover {
    background-color: red;
    color: white;
}
table{
    width: max-content;
}





















#content_show > ul {
    background: #aaa;
    border: #000 solid 3px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#content_show > ul > li {
    margin: 3px;
    padding: 3px 0;
    text-align: center;
    background: #ddd;
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}

#content_show > ul > li:hover, #content_show > ul > li.selected {
        background: #000;
        color: #fff;
}

.row1, .row2 {
    border-radius: 8px;
    margin: 0 auto 8px;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}


.row1 div, .row2 div {
    position: relative;
    padding: 0 5px 0 0;
}

.row1 .edit_delete, .row2 .edit_delete {
    position: relative;
    padding: 0;
}

.row1 {
    background: #999;
}
.row2 {
    background: #888;
}

.row1 > div, .row2 > div {
    position: relative;
}


#content_showEmployees .row1, #content_showEmployees .row2 {
    grid-template-columns: 8% 18% 15% 15% 10% 17% auto;
}

#content_showDepartments .row1, #content_showDepartments .row2 {
    grid-template-columns: 8% 13% auto;
}

#content_showDeptManager .row1, #content_showDeptManager .row2 {
    grid-template-columns: 8% 18% 13% 17% auto;
}

#content_showTitles .row1, #content_showTitles .row2 {
    grid-template-columns: 8% 18% 18% 17% auto;
}

#content_showDeptEmp .row1, #content_showDeptEmp .row2 {
    grid-template-columns: 8% 18% 13% 17% auto;
}

#content_showSalaries .row1, #content_showSalaries .row2 {
    grid-template-columns: 8% 18% 13% 17% auto;
}

#content_show > div ul {
    background: #333;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}


#content_show > div ul > li {
    margin: 3px;
    padding: 2px 0;
    text-align: center;
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}


li.x {color: #f00;}
li.e {color: #ff0;}
li.x:hover, li.e:hover {background: #888;}
.row1 .F, .row2 .F {color:#f55;}
.row1 .M, .row2 .M {color: #55f;}

input.editable {
    width:100%!important;
}

.update {
    position:absolute;
    top:5px;
    left:-5px;
    padding: 2px 20px!important;
    border-radius:5px;
    background: #5f5;
    cursor:pointer;
    text-align:center;
}

.update:hover {
    background: #0a0;
}